<!-- IF MEDAL_ONE_TITLE --><dd style="text-align: center;">{MEDAL_ONE_TITLE}</dd><!-- ENDIF -->
<!-- IF MEDAL_ONE_IMG --><dd style="text-align: center;">{MEDAL_ONE_IMG}</dd><!-- ENDIF -->
<!-- IF MEDAL_TWO_TITLE --><dd style="text-align: center;">{MEDAL_TWO_TITLE}</dd><!-- ENDIF -->
<!-- IF MEDAL_TWO_IMG --><dd style="text-align: center;">{MEDAL_TWO_IMG}</dd><!-- ENDIF -->
<!-- IF MEDAL_THR_TITLE --><dd style="text-align: center;">{MEDAL_THR_TITLE}</dd><!-- ENDIF -->
<!-- IF MEDAL_THR_IMG --><dd style="text-align: center;">{MEDAL_THR_IMG}</dd><!-- ENDIF -->
