<div id="medals" style="display: flex; justify-content: space-between; text-align:center;">
	<!-- IF MEDAL_ONE_IMG --><div class="aMedal">{MEDAL_ONE_TITLE}<br/>{MEDAL_ONE_IMG}</div><!-- ENDIF -->
	<!-- IF MEDAL_TWO_IMG --><div class="aMedal">{MEDAL_TWO_TITLE}<br/>{MEDAL_TWO_IMG}</div><!-- ENDIF -->
	<!-- IF MEDAL_THR_IMG --><div class="aMedal">{MEDAL_THR_TITLE}<br/>{MEDAL_THR_IMG}</div><!-- ENDIF -->
	<!-- IF MEDAL_FOU_IMG --><div class="aMedal">{MEDAL_FOU_TITLE}<br/>{MEDAL_FOU_IMG}</div><!-- ENDIF -->
	<!-- IF MEDAL_FIV_IMG --><div class="aMedal">{MEDAL_FIV_TITLE}<br/>{MEDAL_FIV_IMG}</div><!-- ENDIF -->
	<!-- IF MEDAL_SIX_IMG --><br/><div class="aMedal">{MEDAL_SIX_TITLE}<br/>{MEDAL_SIX_IMG}</div><!-- ENDIF -->
	<!-- IF MEDAL_SEV_IMG --><div class="aMedal">{MEDAL_SEV_TITLE}<br/>{MEDAL_SEV_IMG}</div><!-- ENDIF -->
	<!-- IF MEDAL_EIG_IMG --><div class="aMedal">{MEDAL_EIG_TITLE}<br/>{MEDAL_EIG_IMG}</div><!-- ENDIF -->
	<!-- IF MEDAL_NIN_IMG --><div class="aMedal">{MEDAL_NIN_TITLE}<br/>{MEDAL_NIN_IMG}</div><!-- ENDIF -->
	<!-- IF MEDAL_TEN_IMG --><div class="aMedal">{MEDAL_TEN_TITLE}<br/>{MEDAL_TEN_IMG}</div><!-- ENDIF -->
</div>