<div id="medals" style="display: flex; justify-content: space-between;">
	<!-- IF postrow.MEDAL_ONE_IMG --><span class="aMedal">{postrow.MEDAL_ONE_IMG}</span><!-- ENDIF -->
	<!-- IF postrow.MEDAL_TWO_IMG --><span class="aMedal">{postrow.MEDAL_TWO_IMG}</span><!-- ENDIF -->
	<!-- IF postrow.MEDAL_THR_IMG --><span class="aMedal">{postrow.MEDAL_THR_IMG}</span><!-- ENDIF -->
	<!-- IF postrow.MEDAL_FOU_IMG --><span class="aMedal">{postrow.MEDAL_FOU_IMG}</span><!-- ENDIF -->
	<!-- IF postrow.MEDAL_FIV_IMG --><span class="aMedal">{postrow.MEDAL_FIV_IMG}</span><!-- ENDIF -->
	<!-- IF postrow.MEDAL_SIX_IMG --><br/><span class="aMedal">{postrow.MEDAL_SIX_IMG}</span><!-- ENDIF -->
	<!-- IF postrow.MEDAL_SEV_IMG --><span class="aMedal">{postrow.MEDAL_SEV_IMG}</span><!-- ENDIF -->
	<!-- IF postrow.MEDAL_EIG_IMG --><span class="aMedal">{postrow.MEDAL_EIG_IMG}</span><!-- ENDIF -->
	<!-- IF postrow.MEDAL_NIN_IMG --><span class="aMedal">{postrow.MEDAL_NIN_IMG}</span><!-- ENDIF -->
	<!-- IF postrow.MEDAL_TEN_IMG --><span class="aMedal">{postrow.MEDAL_TEN_IMG}</span><!-- ENDIF -->
</div>