<div id="medals" style="width:100%;">
	<!-- IF postrow.MEDAL_ONE_IMG --><div class="aMedal" style="width:19%;float:left;">{postrow.MEDAL_ONE_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_TWO_IMG --><div class="aMedal" style="width:19%;float:left;">{postrow.MEDAL_TWO_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_THR_IMG --><div class="aMedal" style="width:19%;float:left;">{postrow.MEDAL_THR_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_FOU_IMG --><div class="aMedal" style="width:19%;float:left;">{postrow.MEDAL_FOU_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_FIV_IMG --><div class="aMedal" style="width:19%;float:left;">{postrow.MEDAL_FIV_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_SIX_IMG --></div><div id="medals" style="width:100%;"><div class="aMedal" style="width:19%;float:left;">{postrow.MEDAL_SIX_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_SEV_IMG --><div class="aMedal" style="width:19%;float:left;">{postrow.MEDAL_SEV_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_EIG_IMG --><div class="aMedal" style="width:19%;float:left;">{postrow.MEDAL_EIG_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_NIN_IMG --><div class="aMedal" style="width:19%;float:left;">{postrow.MEDAL_NIN_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_TEN_IMG --><div class="aMedal" style="width:19%;float:left;">{postrow.MEDAL_TEN_IMG}</div><!-- ENDIF -->
</div>
