<div id="medals" style="display: flex; justify-content: space-between;">
	<!-- IF postrow.MEDAL_ONE_IMG --><div class="aMedal">{postrow.MEDAL_ONE_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_TWO_IMG --><div class="aMedal">{postrow.MEDAL_TWO_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_THR_IMG --><div class="aMedal">{postrow.MEDAL_THR_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_FOU_IMG --><div class="aMedal">{postrow.MEDAL_FOU_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_FIV_IMG --><div class="aMedal">{postrow.MEDAL_FIV_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_SIX_IMG --></div><div id="medals" style="display: flex; justify-content: space-between;"><div class="aMedal">{postrow.MEDAL_SIX_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_SEV_IMG --><div class="aMedal">{postrow.MEDAL_SEV_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_EIG_IMG --><div class="aMedal">{postrow.MEDAL_EIG_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_NIN_IMG --><div class="aMedal">{postrow.MEDAL_NIN_IMG}</div><!-- ENDIF -->
	<!-- IF postrow.MEDAL_TEN_IMG --><div class="aMedal">{postrow.MEDAL_TEN_IMG}</div><!-- ENDIF -->
</div>